.card-list {
  width: 85vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}


@media(min-width: 40rem) and (max-width: 59rem) {
  .card-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media(min-width: 60rem) and (max-width: 74rem) {
  .card-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media(min-width: 75rem) {
  .card-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
